#img{
    margin: 10px;
    

}
#STRONER{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtro{
    height: 40px;
    border-radius: 8px;
    background: #C4C4C4;
    border: none;
}

.example-form{
 margin: 10px
}

table{
    width: 100%;
    height: auto;
}


.example-card{
    border-radius: 10px;
}


.text{
    color: aliceblue;
}

.text2{
    color: #6AEBA0;
}

mat-card{
    background-color: #263238;
    width: 50%;

}

button{
    background-color: #6AEBA0;
    margin: 10px;
}

.demo-row-is-clicked{
    background-color: #6AEBA0;
}
footer{
    display: flex;
    /* justify-content: end; */
    background-color: #fff;
    
}

mat-toolbar{
    background-color: #263238;
}

.centeralizar1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.money{
    display: flex;
    justify-content: center;
}

#valorPago{ 
    margin-right: 20px;
}