<mat-tab-group class="center" mat-align-tabs="center">
  <mat-tab  label="ALUNO">
    


    <table mat-table [dataSource]="alunos" class="mat-elevation-z8 demo-table">
    

     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Aluno</th>
        <td mat-cell *matCellDef="let aluno">{{ aluno.name }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let aluno">{{aluno.age}}</td>
      </ng-container>
    
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let aluno">{{ aluno.email }}</td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
    
    <div>
      <h3>
        Click Log
      </h3>
    </div>
    
    <div *ngIf="!clickedRows.size">
      Clicked rows will be logged here
    </div>
    
    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        Clicked on {{clickedRow.name}}
      </li>
    </ul>
    

  </mat-tab>
  <mat-tab label="CURSO">


    
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Position Column -->
      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Cursos </th>
        <td mat-cell *matCellDef="let curso"> {{curso.curso}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="duracao">
        <th mat-header-cell *matHeaderCellDef> Duração </th>
        <td mat-cell *matCellDef="let curso"> {{curso.duracao}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let curso"> {{curso.valor}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="modalidade">
        <th mat-header-cell *matHeaderCellDef> Modalidade </th>
        <td mat-cell *matCellDef="let curso"> {{curso.modalidade}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCursos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCursos;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    


  </mat-tab>
  <mat-tab label="FINALIZAR">Content 3</mat-tab>
</mat-tab-group>
