<mat-dialog-content class="mat-typography">
  <form action="venda">
    <h1>Finalização da venda</h1>
    <h2>Cursos selecionados:</h2>
    <p>{{ listCourse.join("  -  ") }}</p>
    <br />
    <h2>Vendedor: {{ vendedor }}</h2>
    <mat-label>Aluno</mat-label>
    <mat-select>
      <mat-option [value]="selectedAluno" *ngFor="let element of aluno">{{
        element.name
      }}</mat-option>
    </mat-select>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end-venda">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="finalizarVenda()"
  >
    Finalizar
  </button>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Valor</mat-label>
    <input matInput value={{data.Cursos.Valor}}>
  </mat-form-field>
</mat-dialog-actions>
