<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap");
</style>

<!-- <mat-toolbar id="header">
  <section>
    <div class="example-button-row">
      <button mat-raised-button routerLink="/login">LOGIN</button>
    </div>
  </section>
</mat-toolbar> -->
<div class="full">
  <div class="row">
    <div class="col esquerda">
      <div class="content-esquerda">
        <div class="row">
          <span id="mil">+1000000</span>
        </div>
        <div class="row">
          <span id="afili">AFILIADOS</span>
        </div>
        <span id="text_down">PARA FAZER PARTE DO MAIOR TIME DO</span>
        <span id="brasil_txt">BRASIL!</span>
      </div>
    </div>
    <div class="d-lg-block d-none col">
      <img class="image" src="../../../assets/astroner.svg" />
    </div>
  </div>
</div>
