<div mat-dialog-actions class>
    <div class="centralizar">
      <form [formGroup]="aluno" (submit)="send()">
        <div class="formulario">
          <div class="on_dados">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input
                formControlName="name"
                class="entrada"
                id="curso"
                type="string"
                matInput
              />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                class="entrada"
                id="duracao"
                [textMask]="{ mask: emailMask }"
                type="string"
                matInput
              />
            </mat-form-field>
  
  
            <mat-form-field appearance="outline">
              <mat-label>Idade</mat-label>
              <input
              formControlName="age"
              class="entrada"
              id="valor"
              mask="00"
              type="string"
                matInput
              />
            </mat-form-field>
            
  
  
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input
              formControlName="tell"
              class="entrada"
              id="descricao"
              type="string"
              mask="(00) 0 0000-0000"
  
                matInput
              />
            </mat-form-field>
           
  
            <!-- <mat-form-field appearance="fill">
              <mat-label>Cursos</mat-label>
              <mat-select [formControl]="curso" multiple>
                <mat-select-trigger>
                  {{ cursos.value ? cursos.value[""] : "" }}
                  <span
                    *ngIf="cursos.value?.length > 1"
                    class="example-additional-selection"
                  >
                    (+{{ cursos.value.length - 1 }}
                    {{ cursos.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let cursos of cursoList" [value]="cursos">{{
                  cursos.curso
                }}</mat-option>
              </mat-select>
            </mat-form-field> -->
  
            <!-- <p class="text">CURSO</p>
                      <input formControlName="curso" class="entrada"  id="descricao" type="string"> -->
          </div>
          <div class="button">
            <button id="cadastrar">CADASTRAR</button>
            <button (click)="cancelar()" id="voltar">CANCELAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  