.example-card{
    border-radius: 10px;
}


.text{
    color: aliceblue;
}

.text2{
    color: #6AEBA0;
}

mat-card{
    background-color: #263238;
    width: 50%;

}

button{
    background-color: #6AEBA0;
    margin: 10px;
}

