<form class="example-form" [formGroup]="cadastro" (submit)="cadastrar()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome Completo</mat-label>
    <input
      formControlName="name"
      matInput
      (click)="closeSnackBar()"
      placeholder="Ex. João Silveira Costa"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width " appearance="fill">
    <mat-label>CPF</mat-label>

    <input
      formControlName="cpf"
      type="number"
      matInput
      (click)="closeSnackBar()"
      placeholder="xxx.xxx.xxx-xx"
    />
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      (click)="closeSnackBar()"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Por favor Digite um email valido!
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email <strong>nescessario</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Telephone</mat-label>
    <span matPrefix>+55 &nbsp;</span>
    <input
      formControlName="tell"
      type="tell"
      matInput
      placeholder="(xx)x xxxx-xxxx"
    />
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Senha</mat-label>
    <input
      (click)="closeSnackBar()"
      formControlName="password"
      matInput
      placeholder="Ex. João Silveira Costa"
    />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option">
    <mat-slide-toggle (click)="toggleAdmiro()" formControlName="status">ADM</mat-slide-toggle>
  </mat-radio-group>

  <div class="button">
    <button id="cadastrar" [disabled]="!cadastro.valid" >CADASTRAR</button>
  </div>
</form>
