<h1 mat-dialog-title>Alterar Alunos</h1>

<div mat-dialog-actions class>
  <div *ngIf="alunos" class="centralizar">
    <form [formGroup]="alunos" (submit)="test()">
      <div class="formulario">
        <div class="on_dados">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              formControlName="name"
              class="entrada"
              id="curso"
              type="string"
              matInput
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              class="entrada"
              id="duracao"
              type="string"
              matInput
            />
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Idade</mat-label>
            <input
            formControlName="age"
            class="entrada"
            id="valor"
            type="number"
              matInput
            />
          </mat-form-field>
          


          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input
            formControlName="tell"
            class="entrada"
            id="descricao"
            type="number"

              matInput
            />
          </mat-form-field>
        </div>
        <div class="button">
          <button id="cadastrar">ALTERAR</button>
          <button (click)="cancelar()" id="voltar">VOLTAR</button>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap");
</style>
