<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Editar">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Position Column -->

      <!-- Name Column -->
      <ng-container matColumnDef="vendedor">
        <th mat-header-cell *matHeaderCellDef>Vendedor</th>
        <td mat-cell *matCellDef="let venda">{{ venda.vendedor.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="aluno">
        <th mat-header-cell *matHeaderCellDef>Aluno</th>
        <td mat-cell *matCellDef="let venda">{{ venda.aluno.name }}</td>
      </ng-container>

      <ng-container matColumnDef="idVenda">
        <th mat-header-cell *matHeaderCellDef>Id-Venda</th>
        <td mat-cell *matCellDef="let venda">{{ venda._id }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let vendas">
          <button
            mat-raised-button
            class="demo-button ALTERAR"
            (click)="gotoAllVendas()"
          >
            ALTERAR
          </button>

          <button
            mat-raised-button
            (click)="deleteVenda(vendas)"
            class="demo-button REMOVER"
          >
            REMOVER
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </mat-tab>
  <mat-tab label="Relatorio">
    <div class="relatorioDeVendas">
      <mat-card>
        <mat-card-title>Total de Vendas:</mat-card-title>
        <mat-card-subtitle> {{ dataSource.data?.length }}</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-title>Total de Alunos:</mat-card-title>
        <mat-card-subtitle> {{aluno?.length}}</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-title>Total de Vendedores:</mat-card-title>
        <mat-card-subtitle> {{usuario?.length}}</mat-card-subtitle>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
