table{
    width: 100%;
    height: auto;
}

button{
    margin: 10px;
}

.ALTERAR{
    background-color: #2D706F;
}

.REMOVER{
    background-color: #D91B0B;
}

.relatorioDeVendas{
    display: flex;
    justify-content: center;
}

mat-card{
    background-color: #2D706F;
    margin: 30px;
    height: auto;
    width: 500px;
}