<div class="centralizar">

        <form [formGroup]="curso" (submit)="send()">
             <div class="formulario">
                <div class="on_dados">
                    <p class="text">CURSO</p>
                    <input formControlName="curso" class="entrada" id="curso"type="string">

                    <p class="text">DURAÇÃO</p>
                    <input formControlName="duracao" class="entrada" id="duracao"type="number">

                    <p class="text">VALOR</p>
                    <input formControlName="valor" class="entrada" id="valor" type="number">

                    <p class="text">DESCRIÇÃO</p>
                    <input formControlName="descricao" class="entrada" id="descricao" type="string">
                            
                    
                </div>
                <div class="button">
                    <button id="cadastrar">CADASTRAR</button>
                    <button id="voltar" routerLink="../">VOLTAR</button>
                </div>
            </div>
        </form>       

   
</div>


<style>

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');
</style>