
/* ///////////////////////////////////////FUNDO//////////////////////////////// */
.centralizar{
    width: 800px;
    height: 500px;
}

.on_dados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    
}

.text{
    display: flex;
    justify-content: start; 
    opacity: 50%;
    font-size: 20px;
    /* alinha texto no meio */
}
  




/* //////////////////////////ENTRADA DE DADOS////////////////////////////////////////// */

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
}
  
#cadastrar {
    background-color: #6AEBA0;
    border-radius: 8px;
    width: 156px;
    height: 44px;
    border: none;
}


#voltar {
    background-color: #6AEBA0;
    border-radius: 8px;
    width: 70px;
    height: 44px;
    border: none;
  
    margin: 10px;
}

.teste{
    background-color: red !important;
}