<form [formGroup]="venda" (submit)="test()">
  <div class="formulario">
    <div class="on_dados">
      <mat-form-field appearance="outline">
        <mat-label>Aluno</mat-label>
        <input formControlName="aluno" class="entrada" id="curso" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cursos</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Vendedor</mat-label>
        <input formControlName="vendedor" class="entrada" id="valor" matInput />
      </mat-form-field>
      <!-- <p class="text">VALOR</p>
                  <input formControlName="valor" class="entrada" id="valor" type="number"> -->

      <mat-form-field appearance="outline">
        <mat-label>Valor Pago</mat-label>
        <input formControlName="valor" class="entrada" id="area" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Troco</mat-label>
        <input formControlName="troco" class="entrada" id="area" matInput />
      </mat-form-field>

      <!-- <p class="text">DESCRIÇÃO</p>
                  <input formControlName="descricao" class="entrada" id="descricao" type="string"> -->
    </div>
    <mat-dialog-actions>
      <button id="buton2" mat-button mat-dialog-close>Cancelar</button>
      <button id="buton1" mat-button mat-dialog-close (click)="test()">
        Alterar
      </button>
    </mat-dialog-actions>
  </div>
</form>
