/* For use in src/lib/core/theming/_palette.scss */
$c-primary: (
    50 : #edfdf4,
    100 : #d2f9e3,
    200 : #b5f5d0,
    300 : #97f1bd,
    400 : #80eeae,
    500 : #6aeba0,
    600 : #62e998,
    700 : #57e58e,
    800 : #4de284,
    900 : #3cdd73,
    A100 : #ffffff,
    A200 : #f6fff9,
    A400 : #c3ffd7,
    A700 : #aaffc6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

