
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{usuario}}</span>  
<span class="example-spacer"></span>
   
    <button (click)="Logout()" id="warn" mat-raised-button color="warn">Sair</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav t" mode="side">
      <div class="centraliza">
        <button *ngIf="isAdmin" routerLink="/alunos" mat-raised-button>
          ALUNOS
        </button>
        <button *ngIf="isAdmin" routerLink="/cursos" mat-raised-button>
          CURSOS
        </button>
        <button *ngIf="isAdmin" routerLink="/vendedores" mat-raised-button>
          VENDEDORES
        </button>
        <button *ngIf="isAdmin" routerLink="/cadastra-vendedor" mat-raised-button>
          CADASTRO VENDEDOR
        </button>
        
        <button *ngIf="isAdmin" routerLink="/vendas" mat-raised-button>
          VENDAS
        </button>
        <button routerLink="/vender" mat-raised-button>
          VENDER
        </button>
      </div>
    </mat-drawer>
</mat-drawer-container>
<ng-container>
  
</ng-container>









