
<mat-toolbar>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<span>SPACE</span>
<span class="example-spacer"></span>
   
    <button (click)="Logout()" id="warn" mat-raised-button color="warn">Sair</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav t" mode="side">
      <div class="centraliza">
        <button *ngIf="isAdmin" (click)="goToAlunos()" mat-raised-button>
          ALUNOS
        </button>
        <button *ngIf="isAdmin" (click)="goToCursos()" mat-raised-button>
          CURSOS
        </button>
        <button *ngIf="isAdmin" (click)="goToVendedores()" mat-raised-button>
          VENDEDORES
        </button>
        <button *ngIf="isAdmin" (click)="goToCadastroVend()" mat-raised-button>
          CADASTRO VENDEDOR
        </button>
        
        <button (click)="goToVendas()" mat-raised-button>
          VENDAS
        </button>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          CONFIGURAÇÕES
        </button>
      </div>
    </mat-drawer>
    
    <ng-container *ngIf="showVendas">
        <app-vendas></app-vendas>
    </ng-container>
    <ng-container *ngIf="showCursos">
        <app-cursos></app-cursos>
    </ng-container>
    <ng-container *ngIf="showAlunos">
      <app-alunos></app-alunos>
    </ng-container>
    <ng-container *ngIf="showCadastroVend">
      <app-cadastro-vendedor></app-cadastro-vendedor>
    </ng-container>
    <ng-container *ngIf="showVendedores">
      <app-vendedores></app-vendedores>
    </ng-container>
</mat-drawer-container>
